{% extends "material/base.html" %}
{% block title %}SOM to FCM{% endblock %}
{% block head %}
{{ super() }}
    <style>
        body {
            padding-top: 30px;
			margin:25px;
            padding-bottom: 20px;

        }
        #viz {

        }

        text {
            pointer-events: none;
            fill: #fff;
        }

        .grandparent text {
            font-weight: normal;
            fill: #000;
        }

        rect {
            fill: none;
            stroke: #fff;
        }

        rect.parent, .grandparent rect {
            stroke-width: 2px;
        }

        .grandparent rect {
            fill: #fff;
        }

        .grandparent:hover rect {
        }

        .children rect.parent, .grandparent rect {
            cursor: pointer;
        }

        rect.parent {
            pointer-events: all;
        }
    </style>
{% endblock %}
{% block content %}

<h1>OrientDB of FCM's of CS - Stackoverflow - Dataset</h1>
  <br><br>
  <p>Use Username: admin and password: admin to explore the FCM Database<p>
  <a href='http://knowtology.com:2484/studio/index.html'>Go to OrientDB </a>
  <!-- <div>&copy; Wehrlem</div> -->
{% endblock %}